*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(to right, #4e54c8, #23255a);
    color: white; 
    padding: 1rem;
    text-align: center;
}


.titulo {
    font-size: 2rem; // Ajusta el tamaño de la fuente según sea necesario
}



.banner{
    width: 100%;
    height: 43.75rem;
    background-image: url(../assets/Mishka_-_Banners.png);
    background-size: cover;
}

.grid {
    display: grid;
    background-color: rgb(245, 237, 227);
    padding-top: 3.125rem;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    gap: 20px;
    article {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
        img {
        max-width: 100%;
        height: auto;
        }
    }
    h3 {
        margin-top: 10px;
    }
      
    h4 {
        color: #007bff;
        margin-top: 5px;
    }
}

// footer{
//     display: flex;
//     justify-content: flex-start;
//     width: 100%;
//     height: 9.375rem;
//     background-color: rgb(143, 143, 143);
//     img{
//         padding-top: 1.875rem;
//         padding-left: .625rem;
//         width: 5rem;
//         height: 5rem;
//     }
//     div{h2{
//         font-size: x-large;
//         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//         padding-left: 2.5rem;
//         padding-top: 1.875rem;
//         color: rgb(55, 55, 55);
//     }
//     h3{
//         font-size: large;
//         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//         padding-left: 2.5rem;
//         color: rgb(55, 55, 55);
//     }}
    
    
// }
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem; 
    background: linear-gradient(to right, #FFF5E1, #1f222c);
    color: white;
  
    img {
      width: 3rem;
      height: auto;
    }
  
    div {
      text-align: right;
  
      h2, h3 {
        margin: 0;
      }
  
      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem; 
      }
  
      h3 {
        font-size: 1rem;
      }
    }
  }
  